.player-wrapper {
	width: 90vw;
	max-height: 90vh;
	position: relative;
}

.player-wrapper > * {
	width: 100%;
}

.player-wrapper > :nth-of-type(2) {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	/* animation: fade 1s ease-in-out 0s infinite alternate; */
}

/* @keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} */

@keyframes wipe-in-right {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}
  
.player-wrapper.wipe-in > :nth-of-type(2) {
	display: inherit;
	animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
}

.player-wrapper.half-on-half > :nth-of-type(2) {
	display: inherit;
	opacity: 0.5;
}